Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

fix notification type, year can be null for best ever
  src/types.ts
Due: front

move message to frontend
  api/python/api/utils.py
  src/components/ActivityNotifications.tsx
Due: api, front

support notifications for all distances
  api/python/api/utils.py
Due: api

improve python action
  .github/workflows/python.yaml
Due: none

improve rust & js workflows as well
  .github/workflows/js.yaml
  .github/workflows/rust.yaml
Due: none

move to dependency group
  api/pyproject.toml
Due: api

update dev dependencies
  api/pyproject.toml
  api/uv.lock
Due: api

fix ty errors
  api/python/api/app.py
  api/python/api/cli.py
  api/tests/test_app.py
Due: api

fix mypy errors
  api/python/api/app.py
Due: api

bump vitest
  package-lock.json
  package.json
Due: none

fix sql error
  api/python/api/app.py
Due: api

add swimming in fitness page
  api/python/api/fitness.py
  src/components/FitnessOverview.stories.tsx
  src/components/FitnessOverview.tsx
  src/components/FitnessScoreChart.stories.tsx
  src/components/FitnessScoreChart.tsx
  src/pages/Fitness.tsx
  src/types.ts
Due: api, front

run all JS actions in parallel
  .github/workflows/js.yaml
Due: none

add created_at & updated_at on activity
  api/python/alembic/versions/7f8e9a1b2c3d_add_created_at_and_updated_at_to_activity.py
  api/python/api/app.py
  api/python/api/model.py
  api/tests/test_fit.py
Due: api

make email optional in read-fit
  api/python/api/cli.py
Due: api

add support for temperature
  api/python/alembic/versions/d512fe12eb64_add_temperature_fields_to_activity_lap_.py
  api/python/api/cli.py
  api/python/api/model.py
  api/src/lib.rs
  api/src/types.rs
  api/src/utils.rs
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/data/swim.json
Due: api

fix avg_temperature field in session
  api/src/lib.rs
Due: api

fix temperature api
  api/python/alembic/versions/6bc63aa6ba32_add_min_temperature_to_activity.py
  api/python/api/model.py
  api/src/lib.rs
  api/src/types.rs
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/data/swim.json
Due: api

support temperature in frontend
  src/components/ActivityBox.stories.tsx
  src/components/ActivityCharts.stories.tsx
  src/components/ActivityCharts.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/EditActivityModal.stories.tsx
  src/components/HomePageView.stories.tsx
  src/types.ts
  src/utils.ts
  tests/utils.test.tsx
  tests/validation.test.ts
Due: front

add more fields in activity box
  src/components/ActivityBox.tsx
Due: front

support cadence in api
  api/python/alembic/versions/092b258ae1b1_add_cadence_fields_to_activity_and_.py
  api/python/api/cli.py
  api/python/api/model.py
  api/src/lib.rs
  api/src/types.rs
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/data/swim.json
Due: api

support cadence in frontend
  src/components/ActivityBox.stories.tsx
  src/components/ActivityBox.tsx
  src/components/ActivityCharts.stories.tsx
  src/components/ActivityCharts.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/EditActivityModal.stories.tsx
  src/components/HomePageView.stories.tsx
  src/components/LapChart.stories.tsx
  src/types.ts
  src/utils.ts
  tests/utils.test.tsx
  tests/validation.test.ts
Due: front

add new docs
  docs/.gitignore
  docs/docs/intro.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/img/favicon.svg
  docs/static/img/logo.svg
  docs/tsconfig.json
Due: none

disable dark theme
  docs/docusaurus.config.ts
Due: none

add device doc
  docs/docs/devices.md
Due: none

remove index page in docs
  docs/docs/intro.md
  docs/docusaurus.config.ts
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
Due: none

add 2 pool fields in api
  api/python/alembic/versions/9b1677ce4cdb_add_pool_length_and_num_lengths_to_.py
  api/python/api/model.py
  api/src/lib.rs
  api/src/types.rs
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/data/swim.json
Due: api

add support for pool fields in frontend
  src/components/ActivityBox.stories.tsx
  src/components/ActivityBox.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/EditActivityModal.stories.tsx
  src/components/HomePageView.stories.tsx
  src/types.ts
  tests/validation.test.ts
Due: front

add dependabot for docs/
  .github/dependabot.yml
Due: none

add fit doc
  docs/docs/fit.md
Due: none

add footer
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
Due: front

add constants in utils
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/fit.py
  api/python/api/utils.py
Due: api

split backend into services
  api/python/api/app.py
  api/python/api/services/__init__.py
  api/python/api/services/activity.py
  api/python/api/services/exceptions.py
  api/python/api/services/notification.py
  api/python/api/services/performance.py
  api/python/api/services/profile.py
  api/python/api/services/storage.py
  api/python/api/services/zone.py
  api/tests/services/__init__.py
  api/tests/services/test_performance.py
  api/tests/services/test_storage.py
Due: api

add missing service tests
  api/tests/services/test_notification.py
  api/tests/services/test_profile.py
  api/tests/services/test_zone.py
Due: api

fix review comments for new services in api
  api/python/api/app.py
  api/python/api/services/activity.py
  api/python/api/services/storage.py
  api/python/api/services/zone.py
  api/tests/services/test_storage.py
  api/tests/services/test_zone.py
Due: api

add tests for activity service
  api/tests/services/test_activity.py
Due: api

add more utils tests
  api/tests/test_utils.py
Due: api

improve services based on review
  api/python/api/services/__init__.py
  api/python/api/services/activity.py
  api/python/api/services/performance.py
  api/tests/services/test_activity.py
  api/tests/services/test_performance.py
Due: api

bump to python 3.13
  api/.python-version
  api/Dockerfile
  api/pyproject.toml
  api/uv.lock
Due: api

Path conditions:
  api: any of: api/
  front: any of: src/, tests
