Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags:
          - api
        threshold: 10%
      front:
        flags:
          - front
        threshold: 10%
    patch: off

flags:
  api:
    paths:
      - api/
  front:
    paths:
      - src/
      - tests

use int for ftp values
  api/python/alembic/versions/62d155b54e4c_change_ftp_column_to_integer.py
  api/python/api/fitness.py
  api/python/api/model.py
Due: api

add new settings page
  src/components/Header.tsx
  src/components/ui/DataTable.tsx
  src/main.tsx
  src/pages/Settings.tsx
Due: front

Update src/components/FitnessScoreChart.stories.tsx
  src/components/FitnessScoreChart.stories.tsx
Due: front

Update src/components/TSSChart.stories.tsx
  src/components/TSSChart.stories.tsx
Due: front

refactor api management
  src/api.ts
  src/api/client.ts
  src/api/endpoints/activities.ts
  src/api/endpoints/auth.ts
  src/api/endpoints/fitness.ts
  src/api/endpoints/profile.ts
  src/api/endpoints/users.ts
  src/api/index.ts
  src/api/types.ts
  src/components/ErrorBoundary.tsx
  src/components/ErrorState.tsx
  src/components/LoadingState.tsx
  src/hooks/index.ts
  src/hooks/useApiNavigation.ts
  src/hooks/useApiQuery.ts
  src/hooks/useErrorHandler.ts
Due: front

add tests for new API implementation
  tests/api/client.test.ts
  tests/api/endpoints/activities.test.ts
  tests/components/ErrorBoundary.test.tsx
  tests/components/ErrorState.test.tsx
  tests/components/LoadingState.test.tsx
  tests/hooks/useApiNavigation.test.tsx
  tests/hooks/useApiQuery.test.tsx
  tests/hooks/useErrorHandler.test.ts
Due: front

use new components
  src/components/ActivitiesTable.tsx
  src/components/Layout.tsx
  src/main.tsx
  src/pages/Activity.tsx
  src/pages/Fitness.tsx
  src/pages/Home.tsx
  src/pages/Profile.tsx
  src/pages/Settings.tsx
  src/pages/Weeks.tsx
Due: front

improve slightly activitypageview logic
  src/components/ActivityPageView.stories.tsx
  src/components/ActivityPageView.tsx
  src/pages/Activity.tsx
Due: front

add date selector on fitness page
  src/components/DateSelector.stories.tsx
  src/components/DateSelector.tsx
  src/components/FTPChart.tsx
  src/components/FitnessScoreChart.tsx
  src/components/TSSChart.tsx
  src/components/WeeklyMetricsCharts.tsx
  src/pages/Fitness.tsx
  src/utils/date.ts
  tests/date.test.ts
Due: front

improve profile page layout
  src/components/Performances.tsx
  src/components/PowerPerformances.tsx
  src/components/ZoneTables.tsx
  src/pages/Profile.tsx
Due: front

add link to best performance activities
  api/python/api/app.py
  api/python/api/model.py
  src/components/ActivityBox.stories.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/HomePageView.stories.tsx
  src/components/Performances.stories.tsx
  src/components/Performances.tsx
  src/components/PowerPerformances.stories.tsx
  src/components/PowerPerformances.tsx
  src/types.ts
Due: api, front

add edit activity
  api/python/api/app.py
  api/python/api/model.py
  src/api.ts
  src/components/ActivityBox.stories.tsx
  src/components/ActivityBox.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/EditActivityModal.stories.tsx
  src/components/EditActivityModal.tsx
  src/types.ts
Due: api, front

move map setting to user
  api/python/alembic/versions/a1b2c3d4e5f6_add_map_field_to_user_table.py
  api/python/api/app.py
  api/python/api/model.py
  src/api.ts
  src/components/ActivityBox.tsx
  src/pages/Settings.tsx
  src/types.ts
Due: api, front

remove performances from profile
  api/python/api/app.py
  api/python/api/model.py
  src/pages/Profile.tsx
  src/types.ts
Due: api, front

add best page
  api/python/api/app.py
  api/python/api/model.py
  src/api.ts
  src/components/Header.tsx
  src/main.tsx
  src/pages/Best.tsx
  src/pages/Profile.tsx
  src/types.ts
Due: api, front

fix mypi errors
  api/python/api/app.py
Due: api

remove races page
  src/components/Header.tsx
  src/components/HomePageView.stories.tsx
  src/components/HomePageView.tsx
  src/hooks/useHomeActivities.ts
  src/main.tsx
  src/pages/Home.tsx
Due: front

select best perfs per year
  api/python/api/app.py
  src/api.ts
  src/pages/Best.tsx
Due: api, front

add support for activity zones
  api/python/alembic/versions/24aba78c08c3_add_activity_zone_tables_for_pace_power_.py
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/model.py
  api/python/api/utils.py
  api/tests/test_fit.py
Due: api

support zones in front & api
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/model.py
  src/api.ts
  src/components/ActivityPageView.tsx
  src/components/ActivityZones.stories.tsx
  src/components/ActivityZones.tsx
  src/hooks/index.ts
  src/hooks/useActivityZones.ts
Due: api, front

add missing / in zones route
  api/python/api/app.py
Due: api

Move all ActivityZones to same row in ActivityPageView (#287)
  src/components/ActivityPageView.stories.tsx
  src/components/ActivityPageView.tsx
Due: front

add new component for Best page
  src/components/PerformanceFilters.stories.tsx
  src/components/PerformanceFilters.tsx
  src/pages/Best.tsx
Due: front

bump playwright to 1.54
  .github/workflows/js.yaml
Due: none

reduce zones height
  src/components/ActivityZones.tsx
Due: front

only keep one commit
  api/python/api/app.py
Due: api

remove some comments
  api/tests/test_fit.py
Due: api

switch to bar graph
  src/components/TSSChart.tsx
  src/components/WeeklyMetricsCharts.tsx
Due: front

add new weekly zone charts in fitness page
  api/python/api/fitness.py
  api/tests/test_fitness.py
  src/components/WeeklyZonesCharts.stories.tsx
  src/components/WeeklyZonesCharts.tsx
  src/pages/Fitness.tsx
  src/types.ts
Due: api, front

add ty in api
  api/pyproject.toml
  api/uv.lock
Due: api

fix ty error
  api/tests/test_app.py
Due: api

run ty in typing job
  .github/workflows/python.yaml
Due: none

split some functions from app
  api/python/api/app.py
  api/python/api/dependencies.py
  api/tests/test_app.py
Due: api

add hypothesis on utils tests
  api/pyproject.toml
  api/tests/test_utils.py
  api/uv.lock
Due: api

add hypothesis on .gitignore
  .gitignore
Due: none

add browserslist configuration
  package.json
Due: none

add activity records
  api/python/alembic/versions/f4df0b04a5cc_add_performancerecord_table_for_top_5_.py
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/model.py
  api/python/api/utils.py
  src/api.ts
  src/components/ActivityPageView.tsx
  src/components/PerformanceRecords.tsx
  src/hooks/index.ts
  src/hooks/useActivityPerformanceRecords.ts
  src/types.ts
  src/utils.ts
Due: api, front

bump storybook version
  package-lock.json
  package.json
Due: none

bump playwright docker
  .github/workflows/js.yaml
Due: none
