Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags:
          - api
        threshold: 10%
      front:
        flags:
          - front
        threshold: 10%
    patch: off

flags:
  api:
    paths:
      - api/
  front:
    paths:
      - src/
      - tests

bump pyo3 and upgrade to python 3.13
  api/Cargo.lock
  api/Cargo.toml
Due: api

switch to 3.13+ syntax
  api/python/api/cli.py
  api/python/api/fit.py
  api/python/api/fitness.py
  api/python/api/model.py
  api/python/api/services/activity.py
  api/python/api/services/notification.py
  api/python/api/services/performance.py
  api/python/api/services/profile.py
  api/python/api/services/zone.py
  api/python/api/utils.py
Due: api

install python 3.13 in actions
  .github/workflows/python.yaml
  .github/workflows/rust.yaml
Due: none

add tests for api
  tests/api.test.ts
  tests/mocks/apiMocks.ts
Due: front

add tests for pages
  tests/api.test.ts
  tests/pages/Activities.test.tsx
  tests/pages/Activity.test.tsx
  tests/pages/Best.test.tsx
  tests/pages/Fitness.test.tsx
  tests/pages/Home.test.tsx
  tests/pages/Login.test.tsx
  tests/pages/Profile.test.tsx
  tests/pages/Settings.test.tsx
  tests/pages/Upload.test.tsx
  tests/pages/Weeks.test.tsx
  tests/setup.ts
  vitest.config.ts
Due: front

support cargo in dependabot
  .github/dependabot.yml
Due: none

better support for null values
  api/python/alembic/versions/f5aa56e8d4a5_make_total_ascent_and_avg_speed_nullable.py
  api/python/api/app.py
  api/python/api/model.py
  api/python/api/services/zone.py
  api/python/api/utils.py
  api/src/lib.rs
  api/src/types.rs
  api/src/utils.rs
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/data/swim.json
  src/components/ActivitiesTable.tsx
  src/components/ActivityBox.tsx
  src/components/ui/StatsCard.tsx
  src/types.ts
  src/utils.ts
Due: api, front

add tests for a fr10 run
  api/python/api/fit.py
  api/tests/data/run_fr10.fit
  api/tests/data/run_fr10.json
  api/tests/test_fit.py
Due: api

add support for cycling power in notifications
  api/python/alembic/versions/8d2d94b7f265_add_duration_to_notification.py
  api/python/api/model.py
  api/python/api/services/activity.py
  api/python/api/services/notification.py
  api/python/api/utils.py
  api/tests/services/test_activity.py
  api/tests/services/test_notification.py
  src/components/ActivityNotifications.tsx
  src/types.ts
Due: api, front

add power on notifications
  api/python/alembic/versions/401bc1eef0c6_add_power_to_notification.py
  api/python/api/model.py
  api/python/api/services/notification.py
  src/components/ActivityNotifications.tsx
  src/types.ts
Due: api, front

add trophy for notifications
  src/components/ActivityBox.tsx
Due: front

lazy load pages
  src/main.tsx
Due: front

add QueryBoundary component
  src/components/QueryBoundary.tsx
  src/pages/Activity.tsx
  src/pages/Best.tsx
  src/pages/Fitness.tsx
  src/pages/Home.tsx
  src/pages/Profile.tsx
  src/pages/Settings.tsx
  src/pages/Weeks.tsx
Due: front

notifications: only check past activities in the year
  api/python/api/services/notification.py
  api/tests/services/test_notification.py
Due: api

add recompute_activities cli command
  api/python/api/cli.py
  api/python/api/services/storage.py
Due: api

support best 5 efforts in notifications
  api/python/alembic/versions/bedd3260e74e_add_rank_to_notification.py
  api/python/api/model.py
  api/python/api/services/notification.py
  api/tests/services/test_notification.py
  src/components/ActivityNotifications.tsx
  src/types.ts
Due: api, front

fix overall notifications, use previous activities
  api/python/api/services/notification.py
Due: api

add notifications number in activities table
  api/python/api/app.py
  api/python/api/model.py
  src/components/ActivitiesTable.tsx
  src/types.ts
Due: api, front

fix when no power
  api/python/api/utils.py
Due: api

fix recompute, keep activity
  api/python/api/cli.py
Due: api

refactor cli
  api/python/api/cli.py
  api/python/api/cli/__init__.py
  api/python/api/cli/formatters.py
  api/python/api/services/bulk_operations.py
  api/python/api/services/fit_file.py
  api/python/api/services/location.py
  api/tests/services/test_bulk_operations.py
  api/tests/services/test_fit_file.py
  api/tests/services/test_location.py
  api/tests/test_fit.py
Due: api

cli improvements
  api/python/api/cli/__init__.py
  api/python/api/services/bulk_operations.py
  api/python/api/services/fit_file.py
  api/python/api/services/notification.py
  api/tests/services/test_fit_file.py
  api/tests/services/test_notification.py
Due: api

check for extra dir in s3 bucket
  api/python/api/services/fit_file.py
Due: api

add terms & privacy policy
  LICENSE
  src/components/Footer.tsx
  src/components/LegalSection.tsx
  src/main.tsx
  src/pages/PrivacyPolicy.tsx
  src/pages/TermsOfService.tsx
Due: front

fix avg_power type
  src/types.ts
Due: front

add links in login page
  src/pages/Login.tsx
Due: front

move object storage from AWS to Scaleway
  AGENTS.md
  README.md
  api/python/api/cli/__init__.py
  api/python/api/services/fit_file.py
  api/python/api/services/storage.py
  api/python/api/utils.py
  api/tests/services/test_storage.py
  api/tests/test_utils.py
  src/pages/PrivacyPolicy.tsx
  src/pages/TermsOfService.tsx
Due: api, front

add distance in running notifications
  api/python/api/model.py
  api/python/api/services/notification.py
  src/components/ActivityNotifications.tsx
Due: api, front

fix running notification, shouldn't be power
  src/components/ActivityNotifications.tsx
Due: front

support 2 & 4 hours in best cycling power efforts
  api/python/api/services/notification.py
  api/python/api/utils.py
Due: api

also support more power time in best page
  api/python/api/app.py
  src/components/PerformanceFilters.tsx
Due: api, front

bump vitest
  package-lock.json
  package.json
Due: none

improve color management
  src/colors.ts
  src/components/FTPChart.tsx
  src/components/FitnessScoreChart.tsx
  src/components/LapChart.tsx
  src/components/LineChart.tsx
  src/components/PowerPerformances.tsx
  src/components/TSSChart.tsx
  src/components/WeeklyMetricsCharts.tsx
  src/components/WeeklyZonesCharts.tsx
Due: front

use common colors in ActivityZones
  src/colors.ts
  src/components/ActivityZones.tsx
Due: front

remove hardcoded colors in LapChart
  src/colors.ts
  src/components/LapChart.tsx
Due: front

add animation
  package-lock.json
  package.json
  src/animations.ts
  src/components/Layout.tsx
  src/components/ui/AnimatedCard.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/PageTransition.tsx
  src/components/ui/SectionContainer.tsx
  src/components/ui/Skeleton.tsx
  src/components/ui/StatsCard.tsx
Due: front

improve ux, animation, fonts
  package-lock.json
  package.json
  src/colors.ts
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/ui/AnimatedCard.tsx
  src/components/ui/ContentCard.tsx
  src/components/ui/Divider.tsx
  src/components/ui/EmptyState.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/SectionContainer.tsx
  src/components/ui/StatsCard.tsx
  src/components/ui/index.ts
  src/main.tsx
  src/theme.ts
Due: front

move to pyjwt
  api/pyproject.toml
  api/python/api/auth.py
  api/tests/test_auth.py
  api/uv.lock
Due: api

add overall power comparison in best page
  api/python/api/app.py
  api/python/api/model.py
  src/api.ts
  src/components/PowerProfileComparison.tsx
  src/pages/Best.tsx
  src/types.ts
Due: api, front

bump storybook
  package-lock.json
  package.json
Due: none
