Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

set codedov flags
  .github/workflows/js.yaml
  .github/workflows/python.yaml
Due: none

fix js coverage
  .github/workflows/js.yaml
  .github/workflows/python.yaml
Due: none

add tests for ActivityLogo
  tests/components/ActivityLogo.test.tsx
Due: front

improve js tests
  package-lock.json
  package.json
  tests/components/ActivityLogo.test.tsx
  tests/setup.ts
  tsconfig.json
  vite.config.ts
Due: front

add status in Activity
  api/python/api/app.py
  api/python/api/model.py
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/test_app.py
Due: api

add alembic
  api/pyproject.toml
  api/python/alembic.ini
  api/python/alembic/env.py
  api/python/alembic/script.py.mako
  api/python/alembic/versions/0e5e9e63a32e_add_status_field_to_activities.py
  api/uv.lock
Due: api

codedov: allow 10% threshold
  codecov.yml
Due: none

add location model
  api/python/alembic/versions/c3bc7c6e9f0d_create_location_table_and_import_data.py
  api/python/alembic/versions/c7872b2cf926_add_city_subdivision_country_fields_and_.py
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/fit.py
  api/python/api/model.py
  api/python/api/utils.py
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/test_fit.py
  api/tests/test_model.py
  api/tests/test_utils.py
Due: api

refactor location fetch
  api/python/api/fit.py
  api/python/api/utils.py
  api/tests/test_utils.py
Due: api

api: add update-locations CLI
  api/python/api/cli.py
Due: api

cli: fetch from API if location not found
  api/python/api/cli.py
Due: api

Dockerfile: don't sync dev deps
  api/Dockerfile
Due: api

remove location from api, use city & country in front
  api/python/api/model.py
  api/tests/test_model.py
  src/components/ActivitiesTable.tsx
  src/components/ActivityBox.tsx
  src/types.tsx
Due: api, front

add tests for ActivitiesTable
  tests/components/ActivitiesTable.test.tsx
Due: front

add storybook
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.js
  package-lock.json
  package.json
  src/components/ActivityLogo.stories.tsx
Due: front

run chromatic on js wf
  .github/workflows/js.yaml
  package-lock.json
  package.json
Due: none

temp
  src/components/ActivityLogo.tsx
Due: front

add lapChart story
  src/components/LapChart.stories.tsx
Due: front

only include src tsx files in coverage
  vite.config.ts
Due: none

improve lapcharts
  api/python/api/fit.py
  api/python/api/model.py
  src/components/LapChart.stories.tsx
  src/components/LapChart.tsx
  src/pages/Activity.tsx
  src/types.tsx
Due: api, front

disable patch requirements
  codecov.yml
Due: none

remove unused minutes & seconds
  api/python/api/fit.py
Due: api

chromatic: disable on main, skip dependabot
  .github/workflows/js.yaml
Due: none

add statscard story
  src/components/ui/StatsCard.stories.tsx
Due: front

add sport type
  src/api.tsx
  src/components/ActivitiesTable.tsx
  src/components/ActivityLogo.tsx
  src/components/LapChart.tsx
  src/pages/Activities.tsx
  src/pages/Home.tsx
  src/pages/Weeks.tsx
  src/store.tsx
  src/types.tsx
  src/utils.tsx
  tests/components/ActivitiesTable.test.tsx
  tests/components/ActivityLogo.test.tsx
Due: front

remove some fonts
  src/components/ActivityBox.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/SectionContainer.tsx
  src/components/ui/StatsCard.tsx
  src/main.tsx
Due: front

fix codecov action
  .github/workflows/js.yaml
Due: none

map: make points optional
  src/components/Map.tsx
Due: front

add leaflet in storybook
  .storybook/preview.ts
Due: none

add map story
  src/components/Map.stories.tsx
Due: front

map: make width & height optional
  src/components/Map.stories.tsx
  src/components/Map.tsx
Due: front

map: add markers for start & stop
  src/components/Map.stories.tsx
  src/components/Map.tsx
Due: front

rename Map to MapComponent
  src/components/ActivityBox.tsx
  src/components/Map.stories.tsx
  src/components/Map.tsx
Due: front

codecov: disable patch status
  codecov.yml
Due: none

lapchat: don't use random values
  src/components/LapChart.stories.tsx
Due: front

add new ol map variant
  package-lock.json
  package.json
  src/components/ActivityBox.tsx
  src/components/Map.tsx
  src/components/MapOL.stories.tsx
  src/components/MapOL.tsx
  src/components/MapTypes.ts
  src/types.tsx
Due: front

tracepoints: don't sort them by reverse
  api/python/api/model.py
Due: api

add fitness api route & page
  api/python/api/app.py
  src/api.tsx
  src/components/Header.tsx
  src/main.tsx
  src/pages/Fitness.tsx
  src/types.tsx
Due: api, front

add format cmd
  package.json
Due: none

github: ignore chromatic step on dependabot wf
  .github/workflows/js.yaml
Due: none

Path conditions:
  api: any of: api/
  front: any of: src/, tests
