Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags:
          - api
        threshold: 10%
      front:
        flags:
          - front
        threshold: 10%
    patch: off

flags:
  api:
    paths:
      - api/
  front:
    paths:
      - src/
      - tests

add license in README
  README.md
Due: none

rollback vite upgrade
  package-lock.json
  package.json
Due: none

improve fitness algorithm, use 42 days instead of 90
  api/python/api/app.py
Due: api

add mapbox map type
  .github/workflows/js.yaml
  package-lock.json
  package.json
  src/components/ActivityBox.tsx
  src/components/MapMapbox.stories.tsx
  src/components/MapMapbox.tsx
Due: front

add performances story
  src/components/Performances.stories.tsx
Due: front

various auth related improvements
  src/api.tsx
  src/components/ProtectedRoute.tsx
  src/store.tsx
  src/utils.tsx
  tests/utils.test.tsx
Due: front

improve code
  src/api.tsx
  src/components/ProtectedRoute.tsx
Due: front

fix issue
  src/components/ProtectedRoute.tsx
Due: front

add browser tests
  package-lock.json
  package.json
  tests/components/ActivitiesTable.test.tsx
  vitest.browser.config.ts
Due: front

run storybook tests from vitest
  .github/workflows/js.yaml
  .storybook/main.ts
  .storybook/vitest.setup.ts
  package-lock.json
  package.json
  tests/components/ActivitiesTable.test.tsx
  tests/components/ActivityLogo.test.tsx
  vitest.config.ts
Due: front

chromatic: don't wait for build
  .github/workflows/js.yaml
Due: none

add linechart story
  src/components/LineChart.stories.tsx
Due: front

remove pycov action
  .github/workflows/python.yaml
Due: none

add ui stories
  src/components/ui/DataTable.stories.tsx
  src/components/ui/FormField.stories.tsx
  src/components/ui/PageHeader.stories.tsx
  src/components/ui/SectionContainer.stories.tsx
Due: front

remove breacrumb in pageheader, not used
  src/components/ui/PageHeader.stories.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/index.ts
Due: front

clean ui components of unused code
  src/components/ui/DataTable.stories.tsx
  src/components/ui/DataTable.tsx
  src/components/ui/FormField.stories.tsx
  src/components/ui/FormField.tsx
  src/components/ui/PageHeader.stories.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/SectionContainer.stories.tsx
  src/components/ui/SectionContainer.tsx
  src/components/ui/StatsCard.stories.tsx
  src/components/ui/StatsCard.tsx
  src/pages/Login.tsx
Due: front

fix mr comment
  src/components/ui/FormField.stories.tsx
Due: front

storybook: remove onboarding
  .storybook/main.ts
Due: none

remove unused types ol
  package-lock.json
  package.json
Due: none

add tss in weeks
  api/python/api/app.py
  api/python/api/model.py
  src/pages/Weeks.tsx
  src/types.tsx
  src/utils.tsx
  tests/utils.test.tsx
Due: api, front

add weekly tss
  api/python/api/app.py
  src/pages/Fitness.tsx
  src/types.tsx
Due: api, front

add new cycling & running dashboards
  api/python/api/app.py
  src/pages/Fitness.tsx
  src/types.tsx
Due: api, front

improve activity page charts
  src/components/LineChart.stories.tsx
  src/components/LineChart.tsx
  src/pages/Activity.tsx
Due: front

remove weeks dashboard from profile
  api/python/api/app.py
  api/python/api/model.py
  src/pages/Profile.tsx
  src/types.tsx
Due: api, front

add new alembic version
  api/python/alembic/versions/f1d2a86022f0_remove_minutes_and_seconds_fields_from_.py
Due: api

fix format
  api/python/alembic/versions/f1d2a86022f0_remove_minutes_and_seconds_fields_from_.py
Due: api

add power performance
  api/python/alembic/versions/a66b8b635653_add_performancepower_table_for_cycling_.py
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/model.py
  api/python/api/utils.py
  api/tests/test_fit.py
  api/tests/test_utils.py
  src/components/PowerPerformances.stories.tsx
  src/components/PowerPerformances.tsx
  src/pages/Activity.tsx
  src/pages/Profile.tsx
  src/types.tsx
Due: api, front

lapchart: require more than 1 lap
  src/components/LapChart.stories.tsx
  src/components/LapChart.tsx
Due: front

add power curve
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/utils.py
  api/tests/test_utils.py
  src/components/PowerPerformances.stories.tsx
  src/components/PowerPerformances.tsx
  src/pages/Activity.tsx
  src/pages/Profile.tsx
Due: api, front

remove @storybook/addon-onboarding
  package-lock.json
  package.json
Due: none

powerPerformance: sort by duration increasing
  src/components/PowerPerformances.tsx
Due: front

move vitest coverage v8 to dev
  package-lock.json
  package.json
Due: none

split some logic and add test
  api/python/api/app.py
  api/python/api/fitness.py
  api/tests/test_fitness.py
Due: api

bump playrwright in wf
  .github/workflows/js.yaml
Due: none

split pages
  src/components/ActivitiesPageView.tsx
  src/components/ActivityCharts.stories.tsx
  src/components/ActivityCharts.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/ActivityPageView.tsx
  src/components/HomePageView.stories.tsx
  src/components/HomePageView.tsx
  src/hooks/index.ts
  src/hooks/useActivityData.ts
  src/hooks/useHomeActivities.ts
  src/pages/Activities.tsx
  src/pages/Activity.tsx
  src/pages/Home.tsx
  src/utils/activityDataProcessors.ts
Due: front

move files to tsx when no jsx
  src/api.ts
  src/colors.ts
  src/store.ts
  src/theme.ts
  src/types.ts
  src/utils.ts
Due: front

support user zones
  api/python/alembic/versions/82cdcb052b9e_add_zone_table_for_training_zones.py
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/model.py
  api/python/api/utils.py
  src/components/ZoneTables.stories.tsx
  src/components/ZoneTables.tsx
  src/pages/Profile.tsx
  src/types.ts
Due: api, front

add ftp support
  api/python/alembic/versions/556463c643c0_add_ftp_table_for_functional_threshold_.py
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/fitness.py
  api/python/api/model.py
  api/tests/test_fitness.py
  src/pages/Fitness.tsx
  src/types.ts
Due: api, front

remove activityDataProcessors.ts
  src/components/ActivityCharts.stories.tsx
  src/components/ActivityCharts.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/ActivityPageView.tsx
  src/pages/Activity.tsx
  src/utils.ts
  src/utils/activityDataProcessors.ts
  tests/utils.test.tsx
Due: front

add more components in fitness
  src/components/FTPChart.stories.tsx
  src/components/FTPChart.tsx
  src/components/FitnessOverview.stories.tsx
  src/components/FitnessOverview.tsx
  src/components/FitnessScoreChart.stories.tsx
  src/components/FitnessScoreChart.tsx
  src/components/TSSChart.stories.tsx
  src/components/TSSChart.tsx
  src/components/WeeklyMetricsCharts.stories.tsx
  src/components/WeeklyMetricsCharts.tsx
  src/pages/Fitness.tsx
Due: front
