Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

bump playwright
  .github/workflows/js.yaml
  package-lock.json
  package.json
Due: none

bump vitest
  package-lock.json
  package.json
Due: none

move object storage from AWS to Scaleway
  AGENTS.md
  README.md
  api/python/api/cli/__init__.py
  api/python/api/services/fit_file.py
  api/python/api/services/storage.py
  api/python/api/utils.py
  api/tests/services/test_storage.py
  api/tests/test_utils.py
  src/pages/PrivacyPolicy.tsx
  src/pages/TermsOfService.tsx
Due: api, front

eliminate circular import
  api/python/api/services/storage.py
  api/python/api/utils.py
  api/tests/test_utils.py
Due: api

fix ty warnings
  api/python/api/app.py
Due: api

remove unused code
  api/python/api/services/storage.py
  api/tests/test_utils.py
Due: api

improve LineChart
  package-lock.json
  package.json
  src/components/ActivityCharts.stories.tsx
  src/components/ActivityCharts.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/LineChart.stories.tsx
  src/components/LineChart.tsx
  src/pages/Activity.tsx
Due: front

improve api conf management
  api/python/api/app.py
  api/python/api/auth.py
  api/python/api/config.py
  api/python/api/db.py
  api/python/api/dependencies.py
  api/python/api/services/storage.py
  api/tests/conftest.py
  api/tests/services/test_storage.py
  api/tests/test_app.py
  api/tests/test_utils.py
Due: api

add heatmap
  api/python/alembic/versions/a1b2c3d4e5f7_add_heatmap_table.py
  api/python/api/app.py
  api/python/api/cli/__init__.py
  api/python/api/model.py
  api/python/api/services/__init__.py
  api/python/api/services/heatmap.py
  src/api.ts
  src/components/Header.tsx
  src/components/MapHeatmap.tsx
  src/main.tsx
  src/pages/Heatmap.tsx
  src/types.ts
Due: api, front

improve heatmap logic
  api/python/api/services/heatmap.py
Due: api

improve heatmap implementation
  api/pyproject.toml
  api/python/api/services/heatmap.py
  api/uv.lock
  src/components/MapHeatmap.tsx
Due: api, front

remove horizontal scrolling in profile zone lists
  src/components/ZoneTables.tsx
Due: front

remove POST heatmap route
  api/python/api/app.py
Due: api

zoom and center heatmap
  src/components/MapHeatmap.tsx
Due: front

increase heatmap line weight
  src/components/MapHeatmap.tsx
Due: front

improve test coverage
  api/tests/services/test_heatmap.py
  e2e/activities.spec.ts
  e2e/login.spec.ts
  e2e/navigation.spec.ts
  tests/components/ActivitiesPageView.test.tsx
  tests/components/ActivityPageView.test.tsx
  tests/components/EditActivityModal.test.tsx
  tests/setup.ts
  tests/store.test.ts
Due: api, front

dont run webkit playwright tests
  playwright.config.ts
Due: none

improve playwright setup to speed up tests
  .github/workflows/js.yaml
  playwright.config.ts
Due: none

fix tests
  e2e/activities.spec.ts
  e2e/auth.setup.ts
  e2e/login.spec.ts
  e2e/navigation.spec.ts
  playwright.config.ts
Due: none

add coverage for playwright tests
  .github/workflows/js.yaml
  .nycrc.json
  e2e/activities.spec.ts
  e2e/coverage.ts
  e2e/home.spec.ts
  e2e/login.spec.ts
  e2e/navigation.spec.ts
  package-lock.json
  package.json
  vite.config.ts
Due: none

improve lapchart implementation
  src/components/LapChart.stories.tsx
  src/components/LapChart.tsx
Due: front

ux/ui lapchart fixes
  src/components/LapChart.stories.tsx
  src/components/LapChart.tsx
Due: front

fix review comments
  src/components/LapChart.tsx
  tests/components/LapChart.test.tsx
Due: front

improve fitness page
  src/components/FitnessScoreChart.tsx
  src/components/TSSChart.tsx
  src/components/WeeklyMetricsCharts.tsx
Due: front

add baseline-browser-mapping in dev
  package-lock.json
  package.json
Due: none

support fitness up to 2 years
  api/python/api/fitness.py
  api/tests/test_fitness.py
  src/components/DateSelector.tsx
  src/utils/date.ts
Due: api, front

improve api docker image
  api/.dockerignore
  api/Dockerfile
Due: api

remove duplicate code
  api/python/api/services/bulk_operations.py
  api/python/api/utils.py
  api/tests/test_utils.py
Due: api

improve api coverage
  api/tests/cli/__init__.py
  api/tests/cli/test_formatters.py
  api/tests/services/test_bulk_operations.py
Due: api

add more frontend tests
  tests/components/ui/ContentCard.test.tsx
  tests/components/ui/DataTable.test.tsx
  tests/components/ui/Divider.test.tsx
  tests/components/ui/EmptyState.test.tsx
  tests/components/ui/Skeleton.test.tsx
  tests/components/ui/StatsCard.test.tsx
  tests/hooks/useActivityData.test.tsx
  tests/hooks/useActivityZones.test.tsx
  tests/hooks/useHomeActivities.test.tsx
Due: front

improve code coverage, both front & api
  api/tests/test_app.py
  api/tests/test_fitness.py
  src/components/ActivityNotifications.tsx
  src/components/activityNotificationUtils.ts
  tests/components/ActivityNotifications.test.tsx
  tests/date.test.ts
Due: api, front

fix coverage in ci
  .github/workflows/js.yaml
  package.json
  vitest.config.ts
Due: none

push docker image to scaleway
  .github/workflows/python.yaml
Due: none

add front docker image
  .github/workflows/js.yaml
  Dockerfile
  nginx.conf
Due: none

fix new ty errors
  api/tests/test_utils.py
Due: api

weeks: add more button
  api/python/api/app.py
  api/python/api/model.py
  src/api.ts
  src/pages/Weeks.tsx
  src/types.ts
  tests/api.test.ts
  tests/mocks/apiMocks.ts
Due: api, front

add tests for weeks page
  tests/pages/Weeks.test.tsx
Due: front

add more tests on pages
  e2e/coverage.ts
  tests/pages/Fitness.test.tsx
  tests/pages/Upload.test.tsx
Due: front

improve weeks page, especially sport breakdown
  src/colors.ts
  src/components/SportsBreakdownBar.tsx
  src/components/ui/StatsCard.tsx
  src/pages/Weeks.tsx
  tests/components/SportsBreakdownBar.test.tsx
  tests/pages/Weeks.test.tsx
Due: front

add loading button in home page
  src/components/HomePageView.stories.tsx
  src/components/HomePageView.tsx
  src/hooks/useHomeActivities.ts
  src/pages/Home.tsx
  tests/hooks/useHomeActivities.test.tsx
  tests/pages/Home.test.tsx
Due: front

Path conditions:
  api: any of: api/
  front: any of: src/, tests
