Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        flags:
          - api
        threshold: 10%
      front:
        flags:
          - front
        threshold: 10%
    patch: off

flags:
  api:
    paths:
      - api/
  front:
    paths:
      - src/
      - tests

add more test app
  api/tests/test_app.py
Due: api

add enabled sport option
  api/python/alembic/versions/b3c4d5e6f7a8_add_sport_enabled_fields_to_user.py
  api/python/api/app.py
  api/python/api/model.py
  src/pages/Settings.tsx
  src/types.ts
  tests/mocks/apiMocks.ts
  tests/store.test.ts
  tests/validation.test.ts
Due: api, front

update profile page to only show enabled sports
  src/pages/Profile.tsx
  tests/pages/Profile.test.tsx
Due: front

improve settings
  src/pages/Settings.tsx
Due: front

prettier in profile
  src/pages/Profile.tsx
Due: front

tighten codecov conf
  codecov.yml
Due: none

add tess for PowerProfileComparison component
  tests/components/PowerProfileComparison.test.tsx
Due: front

support enabled sports in homepage
  api/python/api/app.py
  src/hooks/useHomeActivities.ts
  src/types.ts
  tests/hooks/useHomeActivities.test.tsx
Due: api, front

reduce codecov target
  codecov.yml
Due: none

bump eslint to 10.0.0
  package-lock.json
  package.json
Due: none

bump ty to 0.0.16 and fix errors
  api/python/api/services/zone.py
  api/python/api/utils.py
  api/tests/services/test_activity.py
  api/tests/services/test_fit_file.py
  api/tests/services/test_location.py
  api/tests/services/test_notification.py
  api/tests/services/test_performance.py
  api/tests/services/test_zone.py
  api/tests/test_app.py
  api/tests/test_utils.py
  api/uv.lock
Due: api

add biome
  biome.json
  package-lock.json
  package.json
Due: none

run biome lint in GitHub js wf
  .github/workflows/js.yaml
Due: none

more biome lint errors fix
  e2e/coverage.ts
  src/api.ts
  src/components/ActivityBox.tsx
  src/components/EditActivityModal.stories.tsx
  src/components/LapChart.tsx
  src/components/MapHeatmap.tsx
  src/components/MapMapbox.tsx
  src/components/MapOL.tsx
  src/components/PowerPerformances.tsx
  src/components/PowerProfileComparison.tsx
  src/components/activityNotificationUtils.ts
  src/components/ui/FormField.tsx
  src/components/ui/Skeleton.tsx
  src/main.tsx
  src/pages/Heatmap.tsx
  vite.config.ts
  vitest.config.ts
Due: front

fix eslint warnings
  src/components/MapMapbox.tsx
  src/main.tsx
Due: front

enable biome format, run it in ci
  .github/workflows/js.yaml
  biome.json
Due: none

bump biome version
  package-lock.json
  package.json
Due: none

fix biome format
  .storybook/main.ts
  api/tests/data/ride.json
  api/tests/data/run.json
  api/tests/data/run_fr10.json
  api/tests/data/swim.json
  biome.json
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/src/css/custom.css
  playwright.config.ts
  vitest.browser.config.ts
  vitest.config.ts
Due: api

remove prettier & eslint
  .github/workflows/js.yaml
  .prettierrc
  AGENTS.md
  eslint.config.js
  package-lock.json
  package.json
  src/main.tsx
  tests/validation.test.ts
Due: front

set biome schema according to used version
  biome.json
Due: none

refresh package-lock.json
  package-lock.json
Due: none

fix lapchart issue with swimming
  src/components/LapChart.tsx
  tests/components/LapChart.test.tsx
Due: front

fix ty & mypy
  api/python/api/app.py
  api/python/api/services/notification.py
  api/tests/test_app.py
Due: api

update to vite 8, remove svgr
  biome.json
  package-lock.json
  package.json
  src/components/ActivityLogo.tsx
  src/data/bike.svg
  src/data/running.svg
  src/data/swim.svg
  vite.config.ts
  vitest.config.ts
Due: front

bump vitest
  package-lock.json
  package.json
Due: none

improve fitness page performance
  api/python/alembic/versions/b1c2d3e4f5a6_add_index_on_activity_user_id_start_time.py
  api/python/api/app.py
  api/python/api/fitness.py
  api/tests/test_app.py
  api/tests/test_fitness.py
  biome.json
  src/api.ts
  src/pages/Fitness.tsx
  src/types.ts
  tests/api.test.ts
  tests/mocks/apiMocks.ts
  tests/pages/Fitness.test.tsx
Due: api, front

upgrade ty
  api/python/api/app.py
  api/python/api/fitness.py
  api/python/api/services/bulk_operations.py
  api/python/api/services/location.py
  api/python/api/services/notification.py
  api/python/api/services/profile.py
  api/python/api/services/zone.py
  api/python/api/utils.py
  api/tests/services/test_location.py
  api/tests/test_app.py
  api/uv.lock
Due: api

bump ruff-pre-commit
  .pre-commit-config.yaml
Due: none

fix tests
  api/tests/services/test_profile.py
  api/tests/test_app.py
  api/tests/test_utils.py
Due: api

upgrade vitest to 4.1.2
  package-lock.json
  package.json
Due: none

upgrade typescript 6
  package-lock.json
  package.json
  tests/setup.ts
Due: front

update playwright
  .github/workflows/js.yaml
  package-lock.json
  package.json
Due: none

fix pace format, avoid 3:60/km
  src/utils.ts
Due: front

bump biome schema
  biome.json
Due: none

update mui
  package-lock.json
  package.json
Due: none

fix build with new mui
  src/components/ActivitiesTable.tsx
  src/components/ActivityBox.tsx
  src/components/FitnessScoreChart.tsx
  src/components/LoadingIndicator.tsx
  src/components/WeeklyMetricsCharts.tsx
  src/components/ui/SectionContainer.stories.tsx
  src/pages/Fitness.tsx
  src/pages/PrivacyPolicy.tsx
  src/pages/TermsOfService.tsx
  src/theme.ts
Due: front

fix biome format
  src/components/LoadingIndicator.tsx
Due: front

remove symlink, set CLAUDE.md as regular file
  CLAUDE.md
Due: none

bump vitest connect timeout
  vitest.config.ts
Due: none
