Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

fix mapbox gl storybook
  .storybook/main.ts
  .storybook/mocks/mapbox-gl.css
  .storybook/mocks/mapbox-gl.ts
Due: none

fix timeouts in js ci
  .github/workflows/js.yaml
  vitest.config.ts
Due: none

fix mui imports
  src/components/FitnessScoreChart.tsx
  src/components/WeeklyMetricsCharts.tsx
Due: front

ignore <7 days versions in dependabot
  .github/dependabot.yml
Due: none

docs: fix build with faster
  docs/package-lock.json
  docs/package.json
Due: none

Update Playwright to 1.60.0
  package-lock.json
  package.json
Due: none

Update Playwright Docker image to v1.60.0 in GitHub Actions
  .github/workflows/js.yaml
Due: none

add tss estimation
  api/python/api/fitness.py
  api/python/api/services/activity.py
  api/python/api/services/bulk_operations.py
  api/python/api/services/zone.py
  api/tests/services/test_activity.py
  api/tests/test_fitness.py
Due: api

Skip map rendering when activity has no tracepoints (treadmill runs)
  src/components/ActivityBox.tsx
Due: front

Add ActivityBox tests covering map rendering with and without tracepoints
  tests/components/ActivityBox.test.tsx
Due: front

Fix biome lint/format issues in ActivityBox test
  tests/components/ActivityBox.test.tsx
Due: front

Fix TypeScript exactOptionalPropertyTypes error in ActivityBox test
  tests/components/ActivityBox.test.tsx
Due: front

Hide map column entirely when activity has no GPS tracepoints
  src/components/ActivityBox.tsx
Due: front

Update @mui/material and @mui/icons-material to 9.1.0
  package-lock.json
  package.json
Due: none

Inline @mui/material in vitest to fix ESM directory import resolution
  vitest.config.ts
Due: none

fix: add gcc and musl-dev to Docker builder stage for psycopg2
  api/Dockerfile
Due: api

fix(docker): install build-base so psycopg2 compiles in builder stage
  api/Dockerfile
Due: api

Bump biome to 2.5.0 and fix new lint errors
  biome.json
  package-lock.json
  package.json
Due: none

Bump playwright to 1.61.0
  package-lock.json
  package.json
Due: none

Bump Playwright CI container image to v1.61.0
  .github/workflows/js.yaml
Due: none

Bump ty to 0.0.55 and remove unused type: ignore comments
  api/pyproject.toml
  api/tests/services/test_activity.py
  api/uv.lock
Due: api

Suppress ty deprecated warning for raw SQL session.execute calls
  api/python/api/services/profile.py
Due: api

Bump ty to 0.0.59
  api/pyproject.toml
  api/uv.lock
Due: api

Remove unused ty ignore directives after 0.0.59 bump
  api/python/api/services/zone.py
  api/python/api/utils.py
  api/tests/test_app.py
Due: api

ci: pin ruff version in ruff-action
  .github/workflows/python.yaml
Due: none

Bump react and react-dom to 19.2.8
  package-lock.json
  package.json
Due: none

Bump playwright to 1.62.1
  .github/workflows/js.yaml
  package-lock.json
  package.json
Due: none

fix(deps): align @vitest packages to v4 to fix npm install
  package-lock.json
  package.json
Due: none

Bump playwright to 1.63.0
  package-lock.json
  package.json
Due: none

Bump playwright CI image to v1.63.0
  .github/workflows/js.yaml
Due: none

fix(api): type default zone dicts for sqlmodel 0.0.44
  api/python/api/services/zone.py
  api/python/api/utils.py
Due: api

test: shim Document.focus for jsdom 30.1 focus restore
  tests/setup.ts
Due: front

Bump vitest to 5.0.0
  package-lock.json
  package.json
  tests/setup.ts
  tsconfig.json
Due: front

Regenerate lockfile with full cross-platform optional deps
  package-lock.json
Due: none

Fix lockfile: apply vitest 5 resolution with full optional deps
  package-lock.json
Due: none

Use timezone-aware datetime in location test for sqlmodel 0.0.46
  api/tests/services/test_location.py
Due: api

ci: run language workflows on PRs only when relevant files change
  .github/workflows/js.yaml
  .github/workflows/python.yaml
  .github/workflows/rust.yaml
Due: none

ci: add storybook, nyc and pre-commit configs to path filters
  .github/workflows/js.yaml
  .github/workflows/python.yaml
Due: none

remove garmin from legal pages
  src/pages/PrivacyPolicy.tsx
  src/pages/TermsOfService.tsx
Due: front

Path conditions:
  api: any of: api/
  front: any of: src/, tests
