Repository vlegout/stride: changes, and which Codecov flags are due for each by the changed paths.
All: api, front

add activity records
  api/python/alembic/versions/f4df0b04a5cc_add_performancerecord_table_for_top_5_.py
  api/python/api/app.py
  api/python/api/cli.py
  api/python/api/model.py
  api/python/api/utils.py
  src/api.ts
  src/components/ActivityPageView.tsx
  src/components/PerformanceRecords.tsx
  src/hooks/index.ts
  src/hooks/useActivityPerformanceRecords.ts
  src/types.ts
  src/utils.ts
Due: api, front

bump playwright version
  .github/workflows/js.yaml
  package-lock.json
  package.json
Due: none

add tss in activities table
  api/python/api/app.py
  src/components/ActivitiesTable.tsx
Due: api, front

add extract_location_from_api
  api/python/api/cli.py
  api/python/api/utils.py
Due: api

improve location logic
  api/python/api/cli.py
Due: api

add fetch_location
  api/python/api/cli.py
Due: api

remove useless comments
  api/python/api/cli.py
Due: api

bump playwright
  .github/workflows/js.yaml
  package-lock.json
  package.json
Due: none

bump react
  package-lock.json
  package.json
Due: none

ignore .sql files
  .gitignore
Due: none

use types when possible
  src/components/FTPChart.tsx
  src/components/FitnessScoreChart.tsx
  src/components/TSSChart.tsx
  src/components/WeeklyMetricsCharts.tsx
Due: front

add AGENTS.md, and claude symlink
  AGENTS.md
  CLAUDE.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

add more return types
  src/api.ts
  src/components/ActivitiesPageView.tsx
  src/components/ActivitiesTable.tsx
  src/components/Header.tsx
  src/components/LapChart.tsx
  src/components/MapOL.tsx
  src/components/WeeklyMetricsCharts.tsx
  src/components/WeeklyZonesCharts.tsx
  src/components/ZoneTables.tsx
  src/components/ui/DataTable.tsx
  src/components/ui/FormField.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/SectionContainer.tsx
  src/components/ui/StatsCard.tsx
  src/pages/Best.tsx
  src/pages/Settings.tsx
  src/pages/Upload.tsx
Due: front

fix lint error, remove useEffect
  src/components/EditActivityModal.tsx
Due: front

update vitest & storybook
  package-lock.json
  package.json
Due: none

fix vitest
  package-lock.json
  package.json
  vitest.config.ci.ts
Due: none

fix tests
  .storybook/main.ts
  package-lock.json
  package.json
  vitest.config.ts
Due: none

bump vitest
  package-lock.json
  package.json
Due: none

support swim in rust src
  api/src/lib.rs
Due: api

add initial support for swimming in both api & front
  api/python/api/app.py
  api/python/api/model.py
  api/tests/data/swim.fit
  api/tests/data/swim.json
  api/tests/test_fit.py
  src/components/ActivityBox.tsx
  src/components/ActivityLogo.tsx
  src/components/ActivityPageView.tsx
  src/components/LapChart.tsx
  src/data/swim.svg
  src/pages/Profile.tsx
  src/types.ts
Due: api, front

support swimming in activities select
  src/components/ActivitiesPageView.tsx
Due: front

improve speed/pace handling and formatting
  src/components/ActivitiesTable.tsx
  src/components/ActivityBox.tsx
  src/pages/Weeks.tsx
  src/utils.ts
  tests/utils.test.tsx
Due: front

run playwright in parallel to test
  .github/workflows/js.yaml
Due: none

add tests result files to .gitignore
  .gitignore
Due: none

improve types
  src/api.ts
  src/components/ActivitiesPageView.tsx
  src/components/ActivityBox.stories.tsx
  src/components/ActivityBox.tsx
  src/components/ActivityPageView.stories.tsx
  src/components/ActivityPageView.tsx
  src/components/EditActivityModal.stories.tsx
  src/components/EditActivityModal.tsx
  src/components/HomePageView.stories.tsx
  src/components/MapMapbox.tsx
  src/components/MapOL.tsx
  src/components/WeeklyZonesCharts.stories.tsx
  src/pages/Upload.tsx
  src/pages/Weeks.tsx
  src/types.ts
  tests/utils.test.tsx
  tests/validation.test.ts
Due: front

fix default ascent, especially for swim
  api/src/lib.rs
  api/tests/data/swim.json
Due: api

check for fit file uniqueness
  api/python/api/app.py
Due: api

remove fit unique constraint
  api/python/alembic/versions/e1d51382fb2b_remove_unique_constraint_from_activity_.py
  api/python/api/model.py
Due: api

fix altitude chart, ignore large numbers
  src/utils.ts
Due: front

add swimming stats in fitness
  api/python/api/fitness.py
  src/components/WeeklyMetricsCharts.stories.tsx
  src/components/WeeklyMetricsCharts.tsx
  src/pages/Fitness.tsx
  src/types.ts
Due: api, front

mention mapbox in README
  README.md
Due: none

new notifications feature
  api/python/alembic/versions/4ada3f772d58_add_notification_table.py
  api/python/api/app.py
  api/python/api/model.py
  api/python/api/utils.py
  src/components/ActivityNotifications.tsx
  src/components/ActivityPageView.tsx
  src/types.ts
Due: api, front

add delete button
  src/api.ts
  src/components/EditActivityModal.stories.tsx
  src/components/EditActivityModal.tsx
Due: front

Path conditions:
  api: any of: api/
  front: any of: src/, tests
